@use '../../utils' as *;

.errorLog-box {
    padding: 18px !important;
    border-radius: 16px !important;
    border: none !important;
    &>h5 {
        @include ctHead($font-3,700,24px,$black-clr,capitalize);
    }
    .search-area {
        margin-top: 11px;
        margin-bottom: 42px;
        .ct-flex-main {
            gap: 15px;
            .btn-search {
                max-width: 204px;
            }
            .ct-flex-area {
                background: $white-bg-2;
                .search-inp {
                    background: $white-bg-2;
                }
            }
        }
    }
    .error-log-table {
        .ct-table {
            margin-bottom: 0;
            thead {
                tr {
                    th {
                        color: $black-clr-3;
                        font-size: 18px;
                        font-weight: 600;
                    }
                }
            }
            tbody {
                tr {
                    td {
                        color: $black-clr-3;
                        font-size: 14px;
                        padding: 1rem .5rem;
                        a {
                            color: $black-clr-3;
                            &>svg {
                                margin: 0 0 0 8px;
                            }
                        }
                        &.dk-rd {
                            color: $prim-clr-2;
                        }
                        &.lt-rd {
                            color: $red-clr;
                        }
                        &.lt-bl {
                            color: $navyBlue-clr;
                        }
                        &.lt-yl {
                            color: $yellow-clr-2;
                        }
                        &.lt-gr {
                            color: $green-clr-3;
                        }
                        &.lt-br {
                            color: $brown-clr;
                        }
                    }
                }
            }
        }
    }
}